body{
    background-color: #32383e;
    color: white
}

header{
    background-color: #1e2528;
    color: white;
    text-align: center;
}

h2{
    padding: 20px
}


table{
    border-radius: 10px;
}

.lista-clientes{
    width: 80%;
    margin: auto;
    padding-top: 50px;
}
   
.cliente{
    
    padding: 5px;
    padding-top: 50px;   
}

.avaliacoes{
    width: 50%;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    
}

.lista-avaliacoes{
    width: 50%;
    margin: auto;
    padding: 10px;
    padding-top: 50px;
    
}

#cliente-form{
    width: 50%;
    margin: auto;
    padding: 40px;
    background-color: #1e2528;
    border-radius: 10px;
}

#avaliacoes-form{
    padding: 40px;
    background-color: #1e2528;
    border-radius: 10px;
}




nav a{
    cursor: pointer;
    padding-right: 20px;
}

.cabecalho a:hover{
    background-color: #400080
}

.trash-icon{
   color: red;
}